
.App {
  /* text-align: center; */
  background-color: #2c3333;
}

p {
}

body {
  /* text-align: center; */
  font-family: Sans-Serif;
  background-color: #2c3333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.title {
  
}
h1 {
  color: #f19a3e;
  text-align: center;
}
h3 {
  color: #7fb235;
}
.tutorial-div {
  display: inline-flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.box-wrapper .node-editor {
}
.box-wrapper .src-viewer{
  /* width:50%; */
}
.src-viewer-dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}

.src-viewer-dropdown-option {
  cursor: pointer;
  padding: 10px;
  color: black;
  font-size: 14px;
  &:hover {
    background-color: #f0f0f0;
  }
}
.box-wrapper .src-inner{
  /* height:100%; */
  overflow-y:auto;
  overflow-x:hidden !important; 
}
.graph-viewer {
  background-color: #fff;
}
.box-wrapper .graph-outer {
  /* width:50%; */
}

.split-layout {
  width: 100%;
  display: flex;
}

.split-layout-left,
.split-layout-right {
  overflow: hidden;
}

.split-layout-bar {
  width: 5px;
  margin-left: -1px;
  cursor: col-resize;
  background-color:#777;
  border-radius:5px;

}
.box-wrapper {
  background-color: #295b64;
  margin: 6px;
  padding: 1px 4px 10px 10px;
  border-radius: 2px;
}
.lane-viewer {
  background-color: #295b64;
  margin: 5px;
  padding: 5px;
}
.lane-viewer-timeline {
  color:#FFFFFF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Table styles */
.execution-instance-list {
  width: 100%;
  border-collapse: collapse;
}

/* Header styles */
.execution-instance-list__header {
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

/* Row styles */
.execution-instance-list__row {
  border: 1px solid #ddd;
}

/* Cell styles */
.execution-instance-list__cell {
  padding: 8px;
  text-align: left;
}

/* Hover styles */
.execution-instance-list__row:hover {
  background-color: #f5f5f5;
}

/* Click styles */
.execution-instance-list__row:active {
  background-color: #e2e2e2;
}


.text-modal-container {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
z-index:1000;
}

.text-modal-background {
position: absolute;
top: 0;
bottom: 0;
left: 0;
z-index:10000;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
}

.text-modal-content {
background-color: white;
padding: 20px;
z-index:10001;
border-radius: 10px;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.text-modal-text {
font-size: 16px;
margin-bottom: 10px;
}

.text-modal-close {
background-color: #aaa;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.text-modal-close:hover {
background-color: #333;
}
.add-node-modal-container {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
}

.add-node-modal-background {
position: absolute;
top: 0;
bottom: 0;
left: 0;
z-index:10000;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
}

.add-node-modal-content {
background-color: white;
padding: 20px;
z-index:10001;
border-radius: 10px;
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}


.add-node-modal-close {
background-color: #aaa;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.add-node-modal-close:hover {
background-color: #333;
}
/*Loading modal*/
.loading-modal-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.modal-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
display: flex;
align-items: center;
justify-content: center;
}

.loading-dots {
display: flex;
align-items: center;
justify-content: center;
animation: rotate 1s infinite linear;
}

.dot {
width: 10px;
height: 10px;
border-radius: 50%;
margin: 0 5px;
background-color: #333;
animation: change-color 1s infinite linear;
}

/* CSS keyframe animations for the loading dots */

@keyframes rotate {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

@keyframes change-color {
0% {
background-color: #333;
}
25% {
background-color: #666;
}
50% {
background-color: #999;
}
75% {
background-color: #ccc;
}
100% {
background-color: #333;
}
}


/*Node editor*/
.node-editor {
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
padding: 20px;
}

.node-editor__label {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 10px;
}

.node-editor__input {
width: 200px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 14px;
}

.node-editor__button {
padding: 5px 10px;
background-color: #333;
color: #fff;
border: none;
border-radius: 4px;
font-size: 14px;
cursor: pointer;
margin-right: 10px;
}

.node-editor__buttons {
display: flex;
}

.node-editor__button:hover {
background-color: #666;
}

.node-editor__button:active {
background-color: #999;
}

/* string completion*/
.string-completion-input {
position: relative;
}

.string-completion-input input {
width: 100%;
padding: 8px 2px;
border: 1px solid #ccc;
z-index: 100;
border-radius: 4px;
font-size: 16px;
}

.string-completion-suggestions {
position: absolute;
top: 100%;
left: 0;
right: 0;
margin: 0;
padding: 0;
list-style: none;
border: 1px solid #ccc;
border-top: 0;
border-radius: 0 0 4px 4px;
background-color: #fff;
max-height: 200px;
overflow-y: auto;
}

.string-completion-suggestions li {
cursor: pointer;
padding: 8px 12px;
font-size: 16px;
}

.string-completion-suggestions li:hover,
.string-completion-suggestions li.active {
background-color: #ddd;
}

